body {
    display: flex;
    background: black;
    opacity: 1;
    overflow: hidden;
}

.background {
    background: linear-gradient(140deg, rgb(10,0,90) 0%, rgb(75, 5, 180) 25%, rgb(80, 0, 100) 95%) !important;
}

.intro {
    position: absolute;
    z-index: 10;
    color: rgb(20, 200, 0);
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    margin: 17vh 30vw;
    width: 65vw;
}

.background-text {
    color: white;
    opacity: 10%;
    position: absolute;
    height: 95vh;
    width: 98vw;
    font-size: 225px;
    text-align: center;
}

.sidebar{
    color: white;
    border-radius: 20px;
    height: 98vh;
    width: 240px;
    padding: 0 20px;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
}

.about-me-short {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.about-me-element{
    height: 25px;
}

.about-me-image {
    padding-top: 30px;
}

.about-me-image img {
    height: 240px;
    width: 240px;
    border-radius: 120px;
    border: 2px solid rgba(255,255,255,0.2);
}

.about-me-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.info-head {
    font-weight: bold;
    width: 75px;
    text-align: left;
}

.info-content {
    width: 175px;
}

.navigation {
    width: 240px;
    margin: 35px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.navigation-element {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    width: 240px;
    padding: 0;
    margin: -20px 0px;
}

.navigation-element :hover {
    background-color: rgba(255, 255, 255, 0.2);
    color:rgb(244, 209, 255)
}

#main-container {
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin-left: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
}

.typoline {
    display: flex;
}

.typo-container{
    position: relative;
}

.text-front{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: rgb(20, 200, 0);
}

.text{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: rgb(20, 200, 0);
}

.text_hide{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.cursor{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-left: 3px solid rgb(20, 200, 0);
    ;
}

.load-container {
    margin: 10px 0 0 10px;
}